<a href="https://colab.research.google.com/github/SaikrishnaParamkusham/DAI/blob/master/Deep_Learing_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [96]:
import pandas as pd

In [97]:
obj = pd.read_pickle(r'set_0.pkl')

In [98]:
df_obj = pd.DataFrame(obj)

In [99]:
df_obj.columns =['Image_Captions']

In [100]:
df_obj.head()

                                      Image_Captions
0  318667317_108c402140.jpg#4\tA man in a black h...
1  2072574835_febf0c5fb9.jpg#4\tThree race dog be...
2  3083016677_5782bc337c.jpg#4\tTwo motorcycle wi...
3  95734038_2ab5783da7.jpg#0\tA man on a bike nes...
4  241346146_f27759296d.jpg#1\tA football player ...

In [103]:
for i in range(len(df_obj)):
    df_obj["Image"][i] = df_obj["Image_Captions"][i].split("\t")[0]
    df_obj["Captions"][i] = df_obj["Image_Captions"][i].split("\t")[1]

In [104]:
display(df_obj)

,Image_Captions,Image,Captions
0,318667317_108c402140.jpg#4\tA man in a black h...,318667317_108c402140.jpg#4,A man in a black hoodie be hold a paper sign .
1,2072574835_febf0c5fb9.jpg#4\tThree race dog be...,2072574835_febf0c5fb9.jpg#4,Three race dog be run out of the start gate on...
2,3083016677_5782bc337c.jpg#4\tTwo motorcycle wi...,3083016677_5782bc337c.jpg#4,Two motorcycle with two rider each .
3,95734038_2ab5783da7.jpg#0\tA man on a bike nes...,95734038_2ab5783da7.jpg#0,A man on a bike nest to a river .
4,241346146_f27759296d.jpg#1\tA football player ...,241346146_f27759296d.jpg#1,A football player try tackle another player wh...
...,...,...,...
24995,2993388841_6746140656.jpg#3\tA basketball play...,2993388841_6746140656.jpg#3,A basketball player in a blue uniform be guard...
24996,3578372039_57473f473c.jpg#1\tA young man ride ...,3578372039_57473f473c.jpg#1,A young man ride a skateboard and carry large ...
24997,3186073578_6e115f45f5.jpg#0\tA man display a p...,3186073578_6e115f45f5.jpg#0,A man display a photograph .
24998,2653552905_4301449235.jpg#3\tTwo man stand in ...,2653552905_4301449235.jpg#3,Two man stand in front of a condominium buildi...
24999,3719461451_07de35af3a.jpg#0\tA pelican fly ove...,3719461451_07de35af3a.jpg#0,A pelican fly over the water .

In [105]:
import os
os.getcwd()

'/content'

UsageError: Line magic function `%cd..` not found.